@{
    ViewData["Title"] = "Ana Sayfa";
}

<center>
    <h1>Araç Servis Takip Paneline Hoşgeldiniz :)</h1>
</center>
<br />

<p>Bu panel aracılığıyla servis geçmişi görüntüleyip aynı zamanda ekleyebilirsiniz.</p>

@section Styles {
   
}